################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Consumer/.vs
/Consumer/Consumer/bin/Debug/net8.0
/Consumer/Consumer/obj
